<!-- footer.ejs -->
 <link rel="stylesheet" href="/css/theme.css">
<footer class="footer  text-center py-8 bg-gradient-to-r from-white to-gray-300 text-gray-800 shadow-2xl">
        <p class="text-lg">&copy; 2024 Blog Platform. All Rights Reserved.</p>
</footer>
